name: NPM CD

on:
  release:
    types: [created]

jobs:
  test:
    name: Node v${{ matrix.node }} test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '10', '12', '14' ]
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Setup node
        uses: actions/setup-node@v2.2.0
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm test

  publish-npm:
    name: Publish to NPM
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.2.0
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
